<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/anti-toggl-logo.png" alt="AntiToggl">
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {{> topmenu}}
        </ul>
        <ul class="nav navbar-nav navbar-right">

	        <!--Custom LoginButtons!-->
	        {{#if currentUser}}

		        <div class="dropdown">
			        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
			                aria-haspopup="true" aria-expanded="true">
				        <img src = "{{currentUser.profile.profileImage}}" style="width: 40px; height: 40px;">
				        {{currentUser.profile.firstName}}
				        {{currentUser.profile.lastName}}
				        <span class="caret"></span>
			        </button>
			        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				        <li><a href="{{pathFor route='userProfile'}}">Edit Profile</a></li>
				        <li><a href="{{pathFor route='myorganisations'}}">My Organizations</a></li>
				        <li><a href="{{pathFor route='changePassword'}}">Change Password</a></li>
				        <li class="sign-out"><a href="">Sign Out</a></li>
			        </ul>
		        </div>

	        {{else}}
		        <div class="btn-group" role="group">
			        <button type="button" class="btn btn-default sign-in">Login</button>
			        <button type="button" class="btn btn-default sign-up">Sign Up</button>
			        <button type="button" class="btn btn-default forgot-password">Forgot Password</button>
		        </div>
	        {{/if}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>