/* CSS declarations go here */
.user-info {
  float: left;
}

.group-icon {
  width: 64px; 
  height: 64px;
}

.icon {
  cursor: pointer;
  float: left;
  position: relative;
  display: block;
  margin: 0 10px 10px 0;
}

.icon img {
  left: 0;
  top: 0;
}

.icon:hover .change-icon {
  display:block
}

.change-icon {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  color: #fff;
  display: none;
  height: 30px;
  line-height: 30px;
  right: 0;
  width: 100%;
  z-index: 3;
  left: 0;
  position: absolute;
  text-align: center;
  font-weight: 700;
}

table#user-profile {
  width: initial;
}

span.not-verified-email {
  font-size: 10px;
  color: red;
  vertical-align: top;
}

.clearer {
  clear: both;
}

body {
  > .container {
      padding: 60px 15px 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;

  > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.container {
	.text-muted {
    margin: 20px 0;
  }
}

.create-organisation-container {
  padding-right: 10px;
  border-right: 2px solid #ccc;
}

.organizations-list-container {
  margin: 20px;
}

.create-organisation-form textarea {
  resize: vertical;
}

.list-item-organisation {
  border-bottom: 1px solid #ccc;
}

.no-group-user {
  li {
    cursor: pointer;
  }
}

.create-organisation-form label[for=organisation-icon] {
  display: block;
}

.navbar-nav {
  li {
    a {
      line-height: 30px;
    }
  }
}

.s-alert-box {
  margin-top: 31px;
}